# Configuración de Ambiente
ENVIRONMENT=dev  # dev, qa, prod

# Configuración de AWS
AWS_REGION=us-east-1

# Configuración de VPC
VPC_CIDR=10.0.0.0/16

# Tags
TEAM=DevOps  # DevOps, DevSecOps, Complaint
COST_CENTER=CC-001
